body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inconsolata", monospace;
}
